input {
    display: none;
}

.check {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3L14.9389 8.95492L21.5106 9.90983L16.7553 14.5451L17.8779 21.0902L12 18L6.12215 21.0902L7.24472 14.5451L2.48944 9.90983L9.06107 8.95492L12 3Z' stroke='%23256799' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;

}

input:checked + .check{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3L14.9389 8.95492L21.5106 9.90983L16.7553 14.5451L17.8779 21.0902L12 18L6.12215 21.0902L7.24472 14.5451L2.48944 9.90983L9.06107 8.95492L12 3Z' fill='%23F09213' stroke='%23F09213' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
}